
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<div id="page-wrapper" style="min-height: 896px;">
    <h2 class="title1">Chọn tháng</h2>
    <div class="row">
        <div class="form-group col-md-1">
            <input type="hidden" id="month" />
            <input type="hidden" id="year" />
            <input name="startDate" id="startDate" class="date-picker col-md-12 pull-left" readonly />
        </div>
    </div>

    <div class="row">
         <button class="btn-accept" onclick="ReloadTranferStatistics()">Lọc dữ liệu</button>
    </div>

    <div id="GoldTransferStatisticsData">

    </div>

</div>

<script>
    function ViewGoldTransferDetails(date, isSelling) {
        var month = parseInt($('#month').val());
        var urlBuilder = "@Url.Action("GoldTransferDetails")" + "?date=" + date + "&isSelling=" + isSelling + "&month=" + month;
        window.open(urlBuilder, '_blank');
    };

    function ReloadTranferStatistics() {
        var month = parseInt($('#month').val());

        $.ajax({
            type: "GET",
            url: '/Payment/GoldTransferStatisticsData',
            data: { month: month},
            success: function (data) {
                $("#GoldTransferStatisticsData").html(data);
            },
            error: function(e) {
                console.log(e);
            }
        });
    }

    $(document).ready(function () {

        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            changeDate : false,
            showButtonPanel: true,
            dateFormat: 'mm - yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                $('#month').val(inst.selectedMonth + 1);
                $('#year').val(inst.selectedYear);
            },
            defaultDate: new Date()
        });

        $(".date-picker").datepicker("setDate", new Date());
        var date = new Date();

        $('#month').val(date.getMonth() + 1);
        $('#year').val(date.getFullYear());

        ReloadTranferStatistics();

    });
</script>