<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<script src="~/Scripts/apps/Payment/pmana.js"></script>

<div id="page-wrapper" style="min-height: 896px;" ng-controller="pmana" ng-init="init()">
    <div class="main-page">
        <h2 class="title1">Thống kê nạp tiền</h2>

        <div class="row">

            <div class="form-group col-md-3">
                <input type="hidden" id="month" ng-model="month" />
                <input type="hidden" id="year" ng-model="year" />
                <input name="startDate" id="startDate" class="date-picker col-md-12 pull-left" readonly />
            </div>


            <button type="button" class="btn btn-primary col-md-1" ng-click="do()" style="margin-left: 50px">Thống kê</button>
        </div>


        <div class="table row">
            <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nạp momo</th>
                            <th>Nạp đại lý</th>
                            <th>Nạp thẻ</th>
                            <th>Lỗi game</th>
                            <th>Tổng (Nạp: momo, agency, card)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in datatable">
                            <th scope="row">{{x.Days}}</th>
                            <td>{{parseMoney(x.Momo)}}</td>
                            <td>{{parseMoney(x.Agency)}}</td>
                            <td>{{parseMoney(x.Card)}}</td>
                            <td>{{parseMoney(x.ErrGame)}}</td>
                            <td>{{parseMoney(x.Momo + x.Card + x.Agency)}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<script>
    $(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'mm - yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                $('#month').val(inst.selectedMonth + 1);
                $('#year').val(inst.selectedYear);
            }
        });

        $(".date-picker").datepicker("setDate", new Date());
    });
</script>