<style>
    .folder input {
        margin: 10px auto;
        min-width: 100%
    }

    .chat-grid input {
        margin: 5px auto;
        min-width: 100%
    }

    .chat-grid {
        padding: 10px;
    }

    .folder {
        padding: 10px;
    }

    .list-group-item {
        padding: 5px !important;
    }
</style>
<script src="~/Scripts/apps/UserInfo/search.js"></script>

<div id="page-wrapper" style="min-height: 896px;" ng-controller="search">
    <div class="main-page">
        <h2 class="title1">Tra cứu thông tin người chơi</h2>
        <div class="col-md-4 compose-left">
            <div class="folder widget-shadow">
                <ul>
                    <li class="head"><i class="fa fa-search" aria-hidden="true"></i>Filter</li>
                    <li><input type="text" class="form-control" ng-model="accountname" placeholder="Tên hiển thị" required=""></li>
                    <li><input type="text" class="form-control" ng-model="username" placeholder="Tên đăng nhập" required=""></li>
                    <li><input type="text" class="form-control" ng-model="accountid" placeholder="Id tài khoản" required=""></li>
                    <li><input type="text" class="form-control" ng-model="phonenumber" placeholder="Số điện thoại" required=""></li>
                    <li><input type="button" class="btn btn-primary" value="Tìm kiếm" ng-click="search()" /></li>
                </ul>
            </div>
            <div class="chat-grid widget-shadow" ng-show="selected != null && result != null && result.length != 0" id="selectedInfo">
                <ul>
                    <li class="head"><i class="fa fa-user" aria-hidden="true"></i>Thông tin chi tiết </li>
                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>ID</p>
                            </div>

                            <div class="pull-right">
                                <p>{{selected.AccountID}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>Tên tài khoản</p>
                            </div>

                            <div class="pull-right">
                                <p>{{selected.Username}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>Loại tài khoản</p>
                            </div>

                            <div class="pull-right">
                                <p>{{selected.UserType == 1 ? "Tài khoản thường" : "Tài khoản facebook"}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>Số dư vàng</p>
                            </div>

                            <div class="pull-right">
                                <p>{{parseMoney(selected.Gold)}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>Số dư xu</p>
                            </div>

                            <div class="pull-right">
                                <p>{{parseMoney(selected.Coin)}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>Két vàng</p>
                            </div>

                            <div class="pull-right">
                                <p>{{parseMoney(selected.LockedGold)}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>Ngày tạo</p>
                            </div>

                            <div class="pull-right">
                                <p>{{selected.CreatedTime | formatDate}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>SĐT</p>
                            </div>

                            <div class="pull-right">
                                <p>{{selected.Tel}}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="pull-left">
                                <p>Trạng thái bảo mật đăng nhập</p>
                            </div>

                            <div class="pull-right">
                                <p ng-if="selected.IsOTP">Bật</p>
                                <p ng-if="!selected.IsOTP">Tắt</p>
                            </div>
                            <div class="clearfix"> </div>
                        </a>
                    </li>
                    <li><input type="button" class="btn btn-primary" value="Reset mật khẩu" data-toggle="modal" data-target="#resetpass"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 compose-right widget-shadow" id="resultSearch">
            <div class="panel-default">
                <div class="panel-heading">
                    Kết quả tìm kiếm
                </div>
                <div class="inbox-page">
                    <h4 ng-show="result == null || result.length == 0">Không có kết quả nào phù hợp</h4>
                    <div class="card card-contact-list" ng-show="result != null && result.length > 0">
                        <div class="agileinfo-cdr">
                            <div class="card-header">
                                <h3>Tìm thấy {{result.length}} kết quả</h3>
                            </div>
                            <hr class="widget-separator">
                            <div class="card-body p-b-20">
                                <div class="list-group" ng-repeat="x in result">
                                    <a class="list-group-item media" href="javacript:" ng-click="selectUser(x)">
                                        <div class="pull-left">
                                            <img class="lg-item-img" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Default-avatar.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lg-item-heading">{{x.DisplayName}}</div>
                                                <small class="lg-item-text">{{x.Username}}</small>
                                            </div>
                                            <div class="pull-right">
                                                <div class="lg-item-heading">
                                                    <input type="button" class="btn btn-primary" value="Reset mật khẩu" data-toggle="modal" data-target="#resetpass">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div>
        <div class="modal fade" id="resetpass" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Reset mật khẩu</h4>
                    </div>
                    <div class="modal-body">
                        <p>Xác nhận reset mật khẩu ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="ResetPassword()" data-dismiss="modal">Đồng ý</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>