<label class="control-label" for="jackpotprize_sel2">Phòng</label>
<select class="form-control" id="jackpotprize_sel2" style="margin-left: 20px">
    <option value="1">100</option>
    <option value="2">1000</option>
    @*@if (ViewBag.GameID != 1 && ViewBag.GameID != 6)
    {
        <option value="3">5000</option>
    }*@
    <option value="4">10000</option>
</select>

