<script src="~/Scripts/app/giftCode/analytic.js"></script>

<div id="page-wrapper" style="min-height: 896px;" ng-controller="gcanalytic" ng-init="loadGc(0);">
    <div class="main-page">
        <input type="hidden" value="@ViewBag.Id" id="eventId" />
        <div class="row">
            @{
                if (ViewBag.eventInfo != null)
                {
                    <select class=" col-md-2 pull-left" id="event_id">
                        @foreach (var i in ViewBag.eventInfo)
                        {
                            <option @(i.ID == ViewBag.Id ? "selected" : "") value="@i.ID">@i.Name</option>
                        }
                    </select>
                }
            }
            <select class=" col-md-2 pull-left" id="event_type" style="margin-left: 50px">
                <option value="1" selected>Tất cả</option>
                <option value="2">Đã sử dụng</option>
                <option value="3">Chưa sử dụng</option>
            </select>
            <button type="button" class="btn btn-primary col-md-1" style="margin-left: 50px" ng-click="loadGc(0);">Thống kê</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary pull-right col-md-2" ng-click="dl();">Tải {{selectedEvent}}</button>
        </div>
        <div class="table row">
            <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>GC</th>
                            <th>Mệnh giá</th>
                            <th>Trạng thái</th>
                            <th>Người sử dụng</th>
                            <th>Hạn sử dụng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in gcList">
                            <th scope="row">{{$index + curPage * 30 + 1}}</th>
                            <td>{{x.Code}}</td>
                            <td>{{parseMoney(x.Gold)}}</td>
                            <td>{{x.StatusStr}}</td>
                            <td>{{x.AccountName}}</td>
                            <td>{{formDateTimehms(x.Expired)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 pull-right">
            <button type="button" class="btn btn-primary pull-left col-md-5" ng-click="prev()" ng-show="curPage >= 1">Trước</button>
            <button type="button" class="btn btn-primary pull-right col-md-5" ng-click="next()">Sau</button>
        </div>
    </div>
</div>